<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Sistema de visualização de API de vendas de passagens de ônibus">
        <meta name="keywords" content="Symfony, PHP, MVC, TripBus, ClickBus">
        <meta name="author" content="Gustavo Fournier">
        <meta name="theme-color" content="#5d1499">
        <meta name="robots" content="index,follow">
        <meta property="og:locale" content="pt-BR">
        <meta property="og:url" content="https://localhost:8000">
        <meta property="og:title" content="TripBus - Visualizador de viagens">
        <meta property="og:site_name" content="TripBus">
        <meta property="og:description" content="Sistema de visualização de API de vendas de passagens de ônibus">
        <meta property="og:type" content="website">

        <title>{% block title %}TripBus{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="navbar">
                <h1>TripBus</h1>
            </div>
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
