<div class="card">
    <div class="company">
        <img src="https://static.clickbus.com/live/travel-company-logos/expresso-brasileiro.svg" alt="Empresa de ônibus">
    </div>
    <div class="hour">
        <time class="departure-time">00:01</time>
        <time class="return-time">06:31</time>
    </div>
    <div class="travel-route">
        <span class="station-departure">Sao Paulo, SP - Tiete</span>
        <span class="station-arrival">Rio de Janeiro, RJ - Rodov. do Rio</span>
    </div>
    <div class="duration"><span>6h 30m</span></div>
    <div class="class"><span>Convencional</span></div>
    <div class="price"><span>R$ 130,00</span></div>
    <div class="search">
        <button class="search-btn">Selecionar</button>
    </div>
</div>