{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">
        {% for trip in trips %}
            {% set res = {
                'tripId': trip.parts[0].tripId,
                'companyLogo': trip.parts[0].travelCompany.logo,
                'departureTime': trip.parts[0].departure.schedule.time,
                'returnTime': trip.parts[0].arrival.schedule.time,
                'stationDeparture': trip.from,
                'stationArrival': trip.to,
                'duration': trip.duration,
                'class': trip.parts[0].bus.name,
                'price': trip.price
               } %}

            {{ include('card.html.twig', { 'card': res }) }}
        {% endfor %}
    </div>
{% endblock %}